<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <link rel="icon" href="images/fevicon/fevicon.png" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DashBoard</title>
    <link rel="stylesheet" href="css/dashboard.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>

  <body class="sub_page">
    <div id="loader">
      <form action="/withdraw" method="post">
        <div id="loader-item">
          <input
            type="number"
            placeholder="Amount to withdraw"
            required
            name="amount"
          />
          <button>Withdraw</button>
        </div>
      </form>
    </div>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/">
              <span> CrowdFund </span>
            </a>

            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about"> About</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="Dashboard"> Dashboard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="testimonial">Testimonial</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact Us</a>
                </li>
              </ul>
              <div class="user_optio_box"></div>
            </div>
          </nav>
        </div>
      </header>

      <div class="saluteme">
        <br />
        <span id="welcome_user"
          >Welcome, <span id="user_name"><%=user.fullname %></span>.</span
        >
      </div>
      <!-- Count Down for ` -->
      <div class="countdown" id="countdown">
        <br />
        <!-- <p id="expiryDate" data-time="<%=user.level.date%>">
          You can withdraw in the next <span id="time-here"></span> hours
        </p> -->
      </div>
      <!--  End Of Count Down -->

      <span id="myBalance"
        >Balance: <span class="main_Bal">N<%=user.wallet%></span></span
      >

      <div class="dashboard">
        <div class="profile-info">
          <p id="error" style="color: red"><%=message %></p>
          <p id="" style="color: green"><%=success %></p>
          <span>Profile Email </span>
          <div id="profile_email"><%=user.email%></div>
          <span>Current Level</span>
          <div><%=user.level.level%></div>

          <div class="balance-buttons">
            <button class="px-3 py-2" id="withdraw">Withdraw</button>
            <form action="/level-up" method="post">
              <button
                class="px-3 py-2"
                style="background-color: rgb(197, 197, 46)"
              >
                <i class="fas fa-sync-alt"></i>Next Level
              </button>
            </form>
          </div>
        </div>
        <div class="referrals">
          <h3>Referrals</h3>
          <ul id="referralList">
            <!-- Example referral profiles -->
            <% if(referals.length == 0){ %>
            <span> You have no referral </span>
            <% } %> <% referals.forEach( (x, index) => {%>
            <li>
              Referral <%=index+1%>: <%= x.username%> Level: <%= x.level.level%>
            </li>

            <% }) %>
          </ul>
          <div>
            <label for="referralLink">Your Referral Link:</label>
            <input
              value="https://www.crowdfunds.com.ng/id/?ref=<%=user._id%>"
              id="referralLink"
              rows="4"
              readonly
            />
          </div>

          <!-- Copy Button -->
          <button class="button1" onclick="copyReferralLink()">
            Copy Referral Link
          </button>
          <button class="logout px-3 py-2 text-white" onclick="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>

    <!-- footer section -->
    <section class="footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a>Crowdfund</a>
        </p>
      </div>
    </section>
    <!-- footer section -->

    <!-- jQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="js/dashboard.js"></script>
  </body>
</html>
