<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title><%= user.fullname%> - Web Profile</title>
    <link rel="stylesheet" href="css/profile.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1><%=user.fullname %></h1>
        <p>Level: <%=user.level.level%></p>
      </div>
    </header>

    <section class="skills">
      <div class="container">
        <p id="error" style="color: red"><%= message%></p>
        <p id="error" style="color: green"><%= success%></p>
        <h2>Personal Info</h2>
        <form action="/data-change" method="post">
          <ul id="skillsList">
            <li>
              Account No:
              <input
                required
                value="<%= user.accountNum%>"
                name="accNo"
                placeholder="Your Withdrawal account number"
              />
            </li>
            <li>
              Account name:
              <input
                value="<%=user.accountName%>"
                required
                name="accName"
                placeholder="Your Withdrawal account name"
              />
            </li>
            <li>
              BankName:
              <input
                value="<%=user.bankName%>"
                required
                name="bnkName"
                placeholder="Your Withdrawal bank name"
              />
            </li>
          </ul>
          <button id="editSkillsBtn">Update</button>
        </form>
      </div>
    </section>

    <!-- Edit Skills Modal -->

    <!-- ... other sections ... -->

    <footer>
      <div class="container">
        <p>&copy; 2024 Your Name. All rights reserved.</p>
      </div>
    </footer>

    <script src="js/profile.js"></script>
  </body>
</html>
